{% extends 'layout.html' %}

{% block content %}
<h2>{{ action }} Product</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="form-control", rows=4) }}
    </div>
    
    <div class="form-group">
        {{ form.price.label }}
        {{ form.price(class="form-control") }}
    </div>
    
    <div class="form-group">
        <label>Product Images</label>
        <input type="file" name="images" multiple accept="image/*">
        {% if product %}
        <div class="existing-images">
            {% for image in product.images %}
            <img src="{{ url_for('static', filename='uploads/products/' ~ image) }}" 
                 class="existing-thumbnail">
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">Save Product</button>
</form>
{% endblock %}
